<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="js/success.js"></script>
    <title>กำลังพาคุณไป...</title>
     <script th:inline="javascript">
                //window.location.href = 'http://make.in.th/login/line?data=' + [[${profile.userId}]]  + '---' + [[${profile.pictureUrl}]] + '---' + [[${profile.displayName}]] + '---' + [[${profile.statusMessage}]];
              window.location.href = 'http://drivegay.com/login.php?data=' + [[${profile.userId}]]  + '---' + [[${profile.pictureUrl}]] + '---' + [[${profile.displayName}]] + '---' + [[${profile.statusMessage}]];
    </script>
  </head>
</html>
